<div class="wrapper">
  <h1>Team Generator</h1>
  <div class="members">
    <p *ngFor="let item of members; let indexOfItem = index">
      <span>{{ item }}</span>
      <svg
        (click)="remove(indexOfItem)"
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 0 24 24"
        width="24px"
        [attr.fill]="svgColor()"
      >
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
          d="M16 9v10H8V9h8m-1.5-6h-5l-1 1H5v2h14V4h-3.5l-1-1zM18 7H6v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7z"
        />
      </svg>
    </p>
  </div>

  <div class="add">
    <input
      type="text"
      placeholder="Add a member"
      [(ngModel)]="member"
      (keydown)="keyDown($event)"
    />
    <h5 *ngIf="inputError" class="error">{{ inputError }}</h5>

    <button (click)="addMember()">Add</button>
  </div>
  <div class="generate">
    <h5>Members per team</h5>
    <input
      type="number"
      placeholder="Members per team"
      [(ngModel)]="membersPerTeam"
      (keydown)="generateKeyDown($event)"
    />
    <button (click)="generate()">Generate</button>
    <h5 *ngIf="generateError" class="error">{{ generateError }}</h5>
  </div>
  <div class="created-teams">
    <div
      *ngFor="let team of teams; let indexOfTeam = index"
      class="created-team"
    >
      <h4>Team {{ indexOfTeam + 1 }}</h4>

      <div *ngFor="let member of team" class="team-members">
        <p>{{ member }}</p>
      </div>
    </div>
  </div>
</div>
